{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">MyPage</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.first_name }} {{ user.last_name }}</div>
<!-- ↓追加 -->
<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <p>日報</p>
    <button type="submit">ログアウト</button>
    <p>内容が表示されます<br><br><p>

    <a href="{% url 'accounts:signup' %}" class="btn btn-primary">新規投稿</a>

</form>
{% else %}
<a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}
