{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">日報</div>
{% else %}
<div class="h1">ログイン/ユーザー作成</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.first_name }} {{ user.last_name }}</div>
<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
    <p>内容が表示されます<br><br><p>
</form>

{% else %}
<a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
{% endif %}

<button type="submit">aaaa</button>
{% endblock %}